script(src="/bower_components/jquery/jquery.min.js")
script(src="/js/jquery-ui-1.10.3.custom.min.js")
script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
script(src="/js/app.js")
script(src="/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js")
script(src="/bower_components/bootstrap/docs/assets/js/bootstrap.min.js")
script(src="/bower_components/bootstrap-select/bootstrap-select.min.js")
script(src="/bower_components/bootstrap-switch/static/js/bootstrap-switch.js")
script(src="/js/flatui-radio.js")
script(src="/js/flatui-checkbox.js")
script(src="/bower_components/jquery.tagsinput/jquery.tagsinput.min.js")
script(src="/bower_components/jquery-placeholder/jquery.placeholder.min.js")
script(src="/js/jquery.stacktable.js")
script(src="/js/flatui-app.js")
