img(src='http://www.arabangels.org/images/header.jpg')

.email-container
	br
	span Dear 
	span=user.name
	br
	p Welcome to Arab Angels! Your profile is currently private, update your profile by following this 
		a(href='http://www.arabangels.org/users'+user.id) link
	p A complete profile will be visible to all users. Don't forget to add your Startup or browse for one.
	span Public Startups: 
		a(href='http://www.arabangels.org/startups/all') www.arabangels.org/startups/all
	br
	br
	p --
	p.footer 
		em Arab Angels Team	

