extends layout

block content
	include nav

	.container.main-wrapper.aa-rounded.error-wrapper
		h1 500
		blockquote That's an unusual error, perhaps you signed in with a different provider.
		a(href="/login") Go Back to Login Page