.bottom-menu-inverse.bottom-menu
	.container
		.row
			.span8
				ul.bottom-links
					li
						a(href="/about") About
					li
						a(href="http://www.twitter.com/ArabAngelsOrg", target="_BLANK") Twitter
					li
						a(href="/blog") Blog	
					li
						a(href="/api") API
					li
						a(href="/terms") Terms
			


script(src="/js/index.min.js")
script(src="/js/jquery.wookmark.min.js")
script(src="/js/app.js")
//script(src="/js/jquery-ui-1.10.3.custom.min.js")
//script(src="/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js")
//script(src="/bower_components/bootstrap/docs/assets/js/bootstrap.min.js")
//script(src="/bower_components/bootstrap-select/bootstrap-select.min.js")
//script(src="/bower_components/bootstrap-switch/static/js/bootstrap-switch.js")
//script(src="/bower_components/jquery-validation/jquery.validate.js")
//script(src="/bower_components/jquery.tagsinput/jquery.tagsinput.min.js")
//script(src="/bower_components/jquery-placeholder/jquery.placeholder.min.js")
//script(src="/js/flatui-radio.js")
//script(src="/js/flatui-checkbox.js")
//script(src="/js/flatui-app.js")
//script(src="/js/jquery.form.js")
//script(src="/js/jquery.Jcrop.min.js")
//script(src="/js/jquery.stacktable.js")
