extends layout

block content
	style.
		html{
			background: #323237;
		}

	include nav
	#map-wrapper
	#map
	.big-title
		h2 Where startups & investors intersect
		- if (!req.isAuthenticated())
			h4 Join us now, it's Free.
			a(class="btn btn-inverse btn-wide btn-embossed", href="/join") Register
		- else
			h4 Welcome to our private network!
			a(class="btn btn-inverse btn-wide btn-embossed", href="/users/"+req.user.id) Complete your profile