.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href='/') Arab
				span Angels
			form.form-search(action='/find', method='POST')
				input(type='hidden', name='_csrf', value="#{csrf_token}")
				.input-prepend
					button(type="submit", class="btn btn-small")
						i.fui-search
					input(type="text", name='name',class="typehead small search-query", placeholder="Search")
			
			- if (!req.isAuthenticated())
				ul.links
						li
							a(href="/join", class="auth") Join
						li
							a(href="/login", class="auth login") Log In
			- else
				name = req.user.name
				- var provider = req.user.provider
				- if(req.user.photo !== undefined )
					if(req.user.photo !== '')
						profileImage = req.user.photo.versions[1].url
				- else
					profileImage = ''
					if(provider === 'google')
						profileImage = req.user.google.picture
					else if(provider === 'facebook')
						profileImage = 'https://graph.facebook.com/'+req.user.facebook.username+'/picture?type=small'
					else if(provider === 'linkedin')
						profileImage = req.user.linkedin.pictureUrl

				ul.links.aa-nav-tabs
						if(profileImage !== "")
									img.mini-img(src=profileImage)		
						li.dropdown
							a(class="dropdown-toggle", data-toggle="dropdown", href="#")  
								span=name
								b.caret
							ul.dropdown-menu
								li
									a(href="/users/"+req.user.id) Profile
								li
									a(href="/logout", class="auth") Logout
	.sub-nav
		.container
			ul.nav-menu
				li
					a(href="/") Home
				li
					a(href="/startups/all") Startups
				li
					a(href="/users/all/entrepreneurs") Entrepreneurs
				li
					a(href="/users/all/angels") Angel Investors
	