.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href='/') Arab
				span Angels
			form.form-search(action='/find', method='POST')
				input(type='hidden', name='_csrf', value="#{csrf_token}")
				.input-prepend
					button(type="submit", class="btn btn-small")
						i.fui-search
					input(type="text", name='name',class="typehead small search-query", placeholder="Search")
			
			- var name
			- if (!req.isAuthenticated())
				ul.links
						li
							a(href="/join", class="auth") Join
						li
							a(href="/login", class="auth login") Log In
			- else
				name = req.user.name.toLowerCase().replace(/\ /g, ".")
				ul.links
						li
							a(href="/users/"+req.user.id, class="auth") Profile
						li
							a(href="/logout", class="auth") Logout
	.sub-nav
		.container
			ul.nav-menu
				li
					a(href="/") Home
				li
					a(href="/startups/all") Startups
				li
					a(href="/users/all/entrepreneurs") Entrepreneurs
				li
					a(href="/users/all/angels") Angel Investors
	